# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/

# Environment
.env

# SQLite
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Logs
*.log